<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Myapp" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Myapp" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>

</head>
<body>
    <%= render 'layouts/mobile_navigation' %>

    <header><%= render 'layouts/navigation' %></header>
    
    <%= yield %>

    <script type="text/javascript">
        $(function(){

            var colordivs = $('#hero'),
                navbar = $('.global-nav');


            $(document).scroll(function(e) {
                var scrollPercent = ($(window).scrollTop() / $('#hero').outerHeight()) * 100;
                console.log(scrollPercent);
                if (scrollPercent > 0) {
                    navbar.addClass('nav-bg');
                } else {
                    navbar.removeClass('nav-bg');
                }
            });


    $('.heroText').on('click',function(){
    // $('.nav-link').removeClass('bounce');
    // $(this).addClass('animated infinite bounce');
    console.log('here');

    });
});


</script>
</body>
</html>
